{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>

        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
        <p class='text-justify'>
            &#128075; Hi there, and welcome to my website! <br><br>

            I'm Sujit, a passionate data enthusiast and development economist, driven by a deep passion for leveraging data to uncover insights and create positive change in the world. With a solid background in data analytics and information systems, I am currently pursuing my Master's degree in International Information Systems with a specialization in Data Analytics at Friedrich-Alexander University Erlangen-Nuremberg.<br><br>

            Throughout my academic journey, I have gained valuable experience and expertise in various domains. As part of my master's thesis at Bayer AG, I am conducting a comparative analysis of similarity hashing algorithms (ssdeep, nilsimsa, tlsh) for duplicate column identification. This research enabled me to identify the best-performing similarity hashing algorithm based on accuracy, sensitivity, and execution time. Additionally, I am developing and implementing a custom algorithm utilizing the best-performing technique to calculate column similarity in databases using PySpark on the Databricks platform.<br><br>
            
            During my internship at Bayer AG, I had the opportunity to automate and parallelize the Shazam algorithm for metadata extraction using PySpark on DataBricks. This experience allowed me to enhance my skills in scripting and configuring libraries for efficient metadata processing, thereby streamlining workflows and enabling automation. Furthermore, I conducted a feasibility study on Bayer's Data One Lakehouse, demonstrating the applicability of the Shazam algorithm for processing ERP procurement data.<br><br>
            
            Prior to my master's degree, I completed a Bachelor's degree in Business Administration with a specialization in Finance from Purbanchal University. I also hold a Master's degree in Development Economics and International Studies from Friedrich-Alexander University Erlangen-Nuremberg, where I conducted empirical research on Corporate Social Responsibility in Nepal for my thesis work.<br><br>
            
            Apart from my academic pursuits, I have gained valuable work experience as a working student at Siemens Energy, where I developed an internal website for the Refurbishment Department and created a dashboard using Power BI for tracking refurbishment opportunities. Additionally, I worked as a research assistant at Friedrich Alexander University at Chair of Gamified Human-AI Cooperation, where I conducted a literature review on Human-AI Cooperation and explored the domain of Cooperative video games within Human-Computer Interaction.<br><br>

            Furthermore, I also worked as a research assistant at  at the Chair of Technical Information Systems (Friedrich Alexander University) where I implemented self-organization scenarios for smartphone production using GAML (Gama Modeling Language). Likewise, I was also part of the project to integrate Bluetooth Low Energy (BLE) devices with Linked Data, facilitating seamless communication and interaction within the interconnected network. <br><br>

            Lastly, I am excited about the endless possibilities that data holds and look forward to making meaningful contributions to the field of data analytics and information systems. Let's connect and explore the exciting world of data together!<br><br>

            Thank you for visiting my website, and please feel free to reach out if you have any questions or would like to collaborate on a project!<br><br>
        </p>
    </div>
</div>

{% endblock %}