{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <img src="media\images\ppp.jpg" alt="Your Photo" class="w-60 h-60 rounded-full mx-auto mb-4">

        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>
        <p class='text-justify'>
            &#128075; Hi there, and welcome to my website! <br><br>

            My name is Sujit, and I am an passionate data enthusiast and development economist with a passion for using data to drive insights and make a positive impact in the world.<br><br>

            As for my academic background, System, I am currently pursuing a Master's degree in International Information System, with a focus on Data Analytics, from Friedrich Alexander University in Erlangen, Germany. Prior to this, I completed a Master's degree in Development Economics from the same university, where I gained extensive training in analytical and quantitative methods, as well as qualitative research methods. I learned how to conduct applied empirical work, with a strong emphasis on impact evaluations, including the use of experimental methods such as randomized field experiments and quasi-experimental methods.<br><br>
            
            As a data enthusiast, I am dedicated to extracting valuable insights from data and using those insights to drive impactful change. I have had the privilege of working on a variety of projects involving data visualization, machine learning, and statistical analysis, and have honed my skills in programming languages such as Python, R, and SQL. From interning in meta data analysis at Bayer to being a working student in HVDC Upgrades and Refurbishments at Siemens Energy, I have had the opportunity to work in a range of different settings, each time driven by my passion for uncovering hidden patterns and trends in complex data sets.<br><br>
            
            As a student research assistant in Gamified Human-AI Cooperation at Friedrich Alexander University, I conducted literature reviews and research on COOP video games in HAI in HCI, constantly seeking to expand my knowledge and skills in the field of data analytics and beyond. Additionally, I have served as a student assistant at the Chair of Technical Information Systems, where I implemented self-organization scenarios for smartphone production using GAML and integrated Bluetooth Low Energy Devices with Linked Data.<br><br>
            
            I am a detail-oriented and analytical thinker, with strong problem-solving skills and the ability to work both independently and as part of a team. I am also a lifelong learner, constantly seeking to expand my knowledge and skills in the field of data analytics and beyond.<br><br>

            When I am not working, I enjoy reading, traveling, and trying out new recipes in the kitchen. I am also passionate about sustainability and am actively involved in several initiatives in my local community.<br><br>

            Thank you for visiting my website, and please feel free to reach out if you have any questions or would like to collaborate on a project!<br><br>
        </p>
    </div>
</div>

{% endblock %}